<!DOCTYPE html>
<html lang="en">
<div align="center">
<head>
	<title>News Search</title>
	<h1>News Analyzer</h1>
</head>
<body>
	<div>
		<form action="/news/query" method="post" >
			<p>KeyWord: <input type="text" name="news_keyword" ></p><br><br>
			<p>Number of News to Query: <input type="text" name="page" ></p><br><br>
			<input value="Search News" type="submit">
		</form>
	</div>
	<div>
		<form action="/">
			<input value="Go Back" type="submit">
		</form>
	</div>
</body>
</html>
</div>