<!DOCTYPE html>
<html lang="en">
<head>
	<title>File Update</title>
	<h1>News Analyzer</h1>
</head>
<body>
	<div>
		<form action="/file/file_update_result/" method="post" >
			<p>index: <input type="text" name="author" ></p><br><br>
			<label>new_content: </label>
			<p><input type="text" name="new_content" style="height:100px; width:1000px"></p><br><br>
			<input type="submit" value="Update" >
		</form>
	</div>
	<div>
		<form action="/" method="post">
			<p><input type="submit" value="Go Back"></p>
		</form>
	</div>
</body>
</html>